SERVER_MAIL=your-email@example.com
SERVER_PASS=your-password

ADMIN_MAIL=your-admin-email@example.com
NEXT_PUBLIC_ADMIN_MAIL=your-admin-email@example.com

APP_URL=https://yourapp.com/
NEXT_PUBLIC_APP_URL=https://yourapp.com/

NEXT_PUBLIC_API_URL=https://yourbackend.com/

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
NEXT_PUBLIC_GEMINI_API_KEY=your-api-key
